@import './reset.css';

html,
body {
    height: 100%;
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;

    --header-background-color: #f5f5f5;
    --header-border-color: #ccc;
    --header-text-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;

        --header-background-color: #1e1e1e;
        --header-border-color: #444;
        --header-text-color: #ffffff;
    }
}

main {
    min-height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

header {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--header-border-color);
    color: var(--header-text-color);
}
