/**
 * These are the variables that style the BaseButton component.
 *
 * It targets the [data-ui='base-button'] and related [data-ui='base-button-*'] selectors.
 *
 * The colors are coming from the wallet-ui-variables.css file. Other styles are Tailwind CSS.
 */

/* Base Button */
[data-ui='base-button'] {
    /* Background  */
    background: var(--background);
    /* Text color */
    color: var(--foreground);
    /* Border  */
    @apply border;
    border-color: var(--color-border);
    /* Shape */
    @apply rounded-md shadow-sm cursor-pointer;
    /* Composition */
    @apply flex items-center justify-center gap-2 whitespace-nowrap;
    /* Disabled */
    @apply disabled:cursor-not-allowed disabled:opacity-50;
}

/* Base Button Hover */
[data-ui='base-button']:hover {
    /* Background  */
    background: var(--background-hover);
    /* Text color */
    color: var(--foreground-hover);
}

/* Base Button Sizes */
[data-ui='base-button'].sm {
    /* Shape */
    @apply px-3 py-1.5;
    /* Text size */
    @apply text-sm;
    /* Text weight  */
    @apply font-normal;
}

[data-ui='base-button'].md {
    /* Shape */
    @apply px-4 py-3;
    /* Text size */
    @apply text-base;
    /* Text weight  */
    @apply font-semibold;
}

[data-ui='base-button'].lg {
    /* Shape */
    @apply px-6 py-4;
    /* Text size */
    @apply text-lg;
    /* Text weight  */
    @apply font-bold;
}

/* Left Section Sizes */
.sm [data-ui='base-button-left-section'] {
    /* Composition */
    @apply mr-1;
    /* Text size */
    @apply text-xs;
}

.md [data-ui='base-button-left-section'] {
    /* Composition */
    @apply mr-2;
    /* Text size */
    @apply text-sm;
}

.lg [data-ui='base-button-left-section'] {
    /* Composition */
    @apply mr-4;
    /* Text size */
    @apply text-xl;
}

/* Right Section Sizes */
.sm [data-ui='base-button-right-section'] {
    /* Composition */
    @apply ml-1;
    /* Text size */
    @apply text-xs;
}

.md [data-ui='base-button-right-section'] {
    /* Composition */
    @apply ml-2;
    /* Text size */
    @apply text-sm;
}

.lg [data-ui='base-button-right-section'] {
    /* Composition */
    @apply ml-4;
    /* Text size */
    @apply text-xl;
}
